body {
    font-family: "Gowun Batang", serif;
}



/* ESTILOS DE COLORES */

.bg-beige {
    background-color: rgb(236, 219, 205);
}

.bg-verde {
    background-color: rgb(117, 116, 72);
}

.bg-ivory {
    background-color: rgb(245, 239, 234);
}

.bg-image {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
}

.text-marron {
    color: rgb(100, 50, 15);
}

.btn-marron {
    background-color: rgb(100, 50, 15);
    color: white;
    margin: 1rem 0;
    padding: 0.7rem;
}


.btn-modal {
    margin: 1rem 0;
    padding: 0.7rem;
}


.btn-marron:hover {
    background-color: rgb(112, 67, 34);
    color: white;
}

.btn-verde {
    background-color: rgb(117, 116, 72);
    color: white;
    margin: 1rem auto;
    padding: 0.7rem;
}


.btn-verde:hover {
    background-color: rgb(123, 122, 65);
    color: white;
}

.btn-filtro {
    background-color: none;
    color: rgb(112, 67, 34);
    border: solid rgb(112, 67, 34) 0.1rem;
    margin: 0.5rem;
    margin-left: 0;
    padding: 0.7rem;
}

.btn-filtro:hover {
    background-color: white;
    color: rgb(112, 67, 34);
    border: solid white 0.1rem;
}

.btn-filtro-borrar {
    background-color: none;
    color: grey;
    border: solid grey 0.1rem;
    margin: 0.5rem;
    margin-left: 0;
    padding: 0.7rem;
}

.btn-filtro-borrar:hover {
    background-color: white;
    color: grey;
    border: solid white 0.1rem;
}

/* ESTILO DE CARD */

.libro-card {
    background-color: rgba(255, 255, 255, 0.566);
    padding: 1rem;
    border-bottom: 0.2rem solid rgb(117, 116, 72);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-family: "Quicksand", sans-serif;
}


/* ESTILOS DE TAMAÑOS y FOOTER */

.height-fix {
    height: 5.5rem;
}


main>section img {
    width: 60%;
}



footer {
    background-color: rgb(117, 116, 72);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    margin-top: 2.5rem;

}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

footer ul li {
    font-size: 1.4em;
    line-height: 1.5;
    text-align: center;
}

footer ul li a {
    font-size: 1em;
    text-decoration: none;
    color: white;
}





/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .libro-card {
        border-bottom: 0.1rem solid rgb(117, 116, 72);
        border-top: 0.1rem solid rgb(117, 116, 72);
    }

    main>section img {
        width: 100%;
    }

    .height-fix {
        height: 7rem;
    }

    .height-fix-p {
        height: 8rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    section>div p,
    ul>li {
        font-size: 1.2rem;
    }

    .height-fix-p {
        height: 12.5rem;
    }

    footer ul {
        flex-direction: row;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .height-fix-p {
        height: 10rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    .height-fix-p {
        height: 11.5rem;
    }
}